@model CostEstimationApp.Models.Tool

@{
    ViewData["Title"] = "Create Tool";
}

<h1>Create Tool</h1>

<h4>Tool</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountOfEdges" class="control-label"></label>
                <input asp-for="AmountOfEdges" class="form-control" />
                <span asp-validation-for="AmountOfEdges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VitalityPerEdge" class="control-label"></label>
                <input asp-for="VitalityPerEdge" class="form-control" />
                <span asp-validation-for="VitalityPerEdge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPerHour" class="control-label"></label>
                <input asp-for="CostPerHour" class="form-control" />
                <span asp-validation-for="CostPerHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToolMaterialId" class="control-label"></label>
                <select asp-for="ToolMaterialId" class="form-control" asp-items="ViewBag.ToolMaterialId"></select>
                <span asp-validation-for="ToolMaterialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Operation Types</label>
                <div>
                    @foreach (var operationType in (MultiSelectList)ViewBag.OperationTypeIds)
                    {
                        <div>
                            <input type="checkbox" name="OperationTypeIds" value="@operationType.Value" id="operationType_@operationType.Value" />
                            <label for="operationType_@operationType.Value">@operationType.Text</label>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}