@model CostEstimationApp.Models.OperationSet

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OperationSet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Operations</label>
                <div>
                    @foreach (var operation in (MultiSelectList)ViewBag.Operations)
                    {
                        <div>
                            <input type="checkbox" name="selectedOperations" value="@operation.Value" id="operation_@operation.Value" @(Model.Operations.Any(op => op.Id == int.Parse(operation.Value)) ? "checked" : "") />
                            <label for="operation_@operation.Value">@operation.Text</label>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
