@model CostEstimationApp.Models.MRR

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MRR</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="MaterialId" class="control-label"></label>
                <select asp-for="MaterialId" class="form-control" asp-items="ViewBag.MaterialId"></select>
                <span asp-validation-for="MaterialId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ToolId" class="control-label"></label>
                <select asp-for="ToolId" class="form-control" asp-items="ViewBag.ToolId"></select>
                <span asp-validation-for="ToolId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        @if (ViewBag.ErrorMessages != null)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var error in ViewBag.ErrorMessages)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
