@model CostEstimationApp.Models.Operation

@{
    ViewData["Title"] = "Edit Operation";
}

<h1>Edit Operation</h1>

<h4>Operation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SemiFinishedProductId" class="control-label"></label>
                <select asp-for="SemiFinishedProductId" class="form-control" asp-items="ViewBag.SemiFinishedProductId"></select>
                <span asp-validation-for="SemiFinishedProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineId" class="control-label"></label>
                <select asp-for="MachineId" class="form-control" asp-items="ViewBag.MachineId"></select>
                <span asp-validation-for="MachineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToolId" class="control-label"></label>
                <select asp-for="ToolId" class="form-control" asp-items="ViewBag.ToolId"></select>
                <span asp-validation-for="ToolId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SetUpTime" class="control-label"></label>
                <select asp-for="SetUpTime" class="form-control" asp-items="ViewBag.SetUpTime"></select>
                <span asp-validation-for="SetUpTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeatureId" class="control-label"></label>
                <select asp-for="FeatureId" class="form-control" asp-items="ViewBag.FeatureId" id="FeatureId"></select>
                <span asp-validation-for="FeatureId" class="text-danger"></span>
                <button type="button" id="acceptFeature" class="btn btn-secondary">Zaakceptuj</button>
            </div>
            <div class="form-group">
                <label asp-for="OperationTypeId" class="control-label">Operation Types</label>
                <select asp-for="OperationTypeId" class="form-control" asp-items="ViewBag.OperationTypeId" id="OperationTypeId"></select>
                <span asp-validation-for="OperationTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#acceptFeature').click(function () {
                var featureId = $('#FeatureId').val();
                $.ajax({
                    url: '@Url.Action("GetOperationTypesByFeature", "Operations")/' + featureId,
                    type: 'GET',
                    success: function (data) {
                        var operationTypeSelect = $('#OperationTypeId');
                        operationTypeSelect.empty();
                        $.each(data, function (i, item) {
                            operationTypeSelect.append($('<option>', {
                                value: item.id,
                                text: item.name
                            }));
                        });
                    }
                });
            });
        });
    </script>
}
