@model CostEstimationApp.Models.Operation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Operation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SemiFinishedProductId" class="control-label"></label>
                <select asp-for="SemiFinishedProductId" class="form-control" asp-items="ViewBag.SemiFinishedProductId"></select>
                <span asp-validation-for="SemiFinishedProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineId" class="control-label"></label>
                <select asp-for="MachineId" class="form-control" asp-items="ViewBag.MachineId"></select>
                <span asp-validation-for="MachineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkerId" class="control-label"></label>
                <select asp-for="WorkerId" class="form-control" asp-items="ViewBag.WorkerId"></select>
                <span asp-validation-for="WorkerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToolId" class="control-label"></label>
                <select asp-for="ToolId" class="form-control" asp-items="ViewBag.ToolId"></select>
                <span asp-validation-for="ToolId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationType" class="control-label"></label>
                <input asp-for="OperationType" class="form-control" />
                <span asp-validation-for="OperationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRRId" class="control-label"></label>
                <select asp-for="MRRId" class="form-control" asp-items="ViewBag.MRRId"></select>
                <span asp-validation-for="MRRId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuttingLength" class="control-label"></label>
                <input asp-for="CuttingLength" class="form-control" />
                <span asp-validation-for="CuttingLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuttingWidth" class="control-label"></label>
                <input asp-for="CuttingWidth" class="form-control" />
                <span asp-validation-for="CuttingWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuttingDepth" class="control-label"></label>
                <input asp-for="CuttingDepth" class="form-control" />
                <span asp-validation-for="CuttingDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrillDiameter" class="control-label"></label>
                <input asp-for="DrillDiameter" class="form-control" />
                <span asp-validation-for="DrillDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrillDepth" class="control-label"></label>
                <input asp-for="DrillDepth" class="form-control" />
                <span asp-validation-for="DrillDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthBeforeOperation" class="control-label"></label>
                <input asp-for="LengthBeforeOperation" class="form-control" />
                <span asp-validation-for="LengthBeforeOperation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WidthBeforeOperation" class="control-label"></label>
                <input asp-for="WidthBeforeOperation" class="form-control" />
                <span asp-validation-for="WidthBeforeOperation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeightBeforeOperation" class="control-label"></label>
                <input asp-for="HeightBeforeOperation" class="form-control" />
                <span asp-validation-for="HeightBeforeOperation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthAfterOperation" class="control-label"></label>
                <input asp-for="LengthAfterOperation" class="form-control" />
                <span asp-validation-for="LengthAfterOperation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WidthAfterOperation" class="control-label"></label>
                <input asp-for="WidthAfterOperation" class="form-control" />
                <span asp-validation-for="WidthAfterOperation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeightAfterOperation" class="control-label"></label>
                <input asp-for="HeightAfterOperation" class="form-control" />
                <span asp-validation-for="HeightAfterOperation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
